
@{
    ViewBag.Title = "Index";
}
<h2>OfficeAssignments</h2>
<!-- Button trigger modal -->
<button id="create" type="button" class="btn btn-primary">
    New
</button>
<hr />
<div id="rowOfficeAssignments">
    <div id="divOfficeAssignments">
        <table id="tableOfficeAssignments" class="table table-bordered" style="width:100%"></table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalOfficeAssignments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OfficeAssignments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getOfficeAssignments();
        
    });

    $("#create").click(function () {
        $("#modalOfficeAssignments .modal-body", this).empty();
        $("#modalOfficeAssignments .modal-body").load("/OfficeAssignments/Create");
        $("#modalOfficeAssignments").modal("show");
    });
     
    function getOfficeAssignments() {
        var $row = $('#rowOfficeAssignments');
        $('#divOfficeAssignments').remove();
        var $div = $('<div></div>');
        $div.addClass('table-responsive mb-5');
        $div.attr({ id: 'divOfficeAssignments' });
        $div.addClass('divOfficeAssignments mb-5');
        var $table = $("<table></table>");
        $table.addClass('table table-bordered display text-center');
        $table.attr({ id: 'tableOfficeAssignments', width: '100%' });
        $div.append($table);
        $row.append($div);

        $.get('/OfficeAssignments/IndexJson').done(function (data) {
            $.notify("Load data", "info");
            console.table(data);
            table = $('#tableOfficeAssignments').DataTable({
                data: data,
                "iDisplayLength": 25,
                "order": [[0, "desc"]],
                columns: [
                    { title: 'ID', data: 'InstructorID', className: 'd-none' },
                    { title: 'Location', data: 'Location' },
                    { title: 'Options', data: null }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            return '<a href="javascript:void" class="btn btn-warning edit">Edit</a>' +
                                '<a href="javascript:void" class="btn btn-danger delete">Delete</a>';
                        }
                    }
                ]
            });

            $('#tableOfficeAssignments').on('click', 'tbody a.edit', function (e) {
                let id = $(this).parent().siblings('td')[0].innerText;

                $('#modalOfficeAssignments .modal-body', this).empty();
                $('#modalOfficeAssignments .modal-body').load('/OfficeAssignments/Edit' + id);
                $("#modalOfficeAssignments").modal("show");
            });

            $('#tableOfficeAssignments').on('click', 'tbody a.delete', function (data) {
                let id = $(this).parent().siblings('td')[0].innerText;
                deleteOfficeAssignments (id);
            });

        }).fail(function (data) {
            console.table(data);
        });
    }

    function deleteOfficeAssignments(id) {
        $.get("/OfficeAssignments/Delete/" + id).done(function (data){
            if (data.IsSuccess) {
                getOfficeAssignments();
            }
            else {
                $.notify(data.Message, "error");
            }
        }).fail(function (data) {
            console.table(data);
        })
    }
</script>