
@{
    ViewBag.Title = "Donut";
}
<div class="text-center">
    <h2>Donuts</h2>
</div>
<!--
<select id="report" onchange="getData()" class="form-control">
    <option value="-1">Seleccione</option>
    <option value="1">Students By Course</option>
    <option value="2">Courses By Student</option>
</select>
-->
<hr />
<input type="button" value="Students By Course" class="btn btn-primary" onclick="getData(1)" />
<input type="button" value="Courses By Student" class="btn btn-primary" onclick="getData(2)" />

<div id="graph"></div>

<script>
    $(document).ready(function () {
        //getData();
    });
    function getData(id) {
        if (id === undefined)
            id = $("#report").val();
        $("#graph").empty();
        $.get(urlBase + '/Dashboard/DonutJson/' + id).done(function (data) {
            Morris.Donut({
                element: 'graph',
                data: JSON.parse(data),
                formatter: function (x) { return x }
            }).on('click', function (i, row) {
                console.log(i, row);
            });
        }).fail(function (ex) {
            console.log(ex);
        });
    }

</script>